pydantic==2.9.2
langchain==0.2.17
langchain-openai>=0.1.5
langchain-community
langchain-anthropic==0.1.13
openai==1.23.6
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
scipy==1.13.0
transformers==4.40.2
PyYAML==6.0.1
google-search-results
pypdf
rdkit==2023.9.6
ipykernel
jupyter
tensorboard
pymatgen
dockstring
pytest